@font-face { font-family: Roboto; src: url('Roboto.ttf'); }
p
{ font-family: Roboto, sans-serif; }


#section1{
    display: inline-block;
}

#section2, #radio-output, #go-next, #section3, #retry{
    display: none;
}



.note{
    padding: 2mm;
    background: rgba(207, 200, 255, 0.58);
}
/* positive negative remarks for the code that is being run*/
#code-remark{
    padding: 2mm;
}

.code{
    border-radius: 2rem 2rem / 2rem 2rem;
    padding-left: 1.5mm;
    padding-right: 1.5mm;
    padding-bottom: .5mm;

    background: rgba(0, 0, 0, 0.11);
}



.footnote{
    color: rgba(49, 51, 53, 0.55);
}






