* {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Source Code Pro', serif;
}


.content{
    box-shadow: 3px 3px 13px #e0e0e0;
    background-color: white;
    width:80%;
    padding: 5%;
    display: block;
    align-items: center;
    justify-content: center;
}
body{
    background-color: #f7f7f7;
    padding:50px 250px 90px 250px;
    align-content: center;

}
textarea {
    background: transparent;
    resize: none;
}

.output-screen {
    background: black;
    color: green;
    height: 170px;
    font-weight: bold;
}
.output-screen {
    padding-left: 5px;
}

.code-editor-wrap{

    padding: 15px;
    margin:15px;
}
.code-editor{
    margin-right: 2%;

}

.editor {
    display: inline-block;
    width: 100%;
    background: midnightblue;
    color:white;
    padding:5px;
    height: 200px;
    max-height: 430px;
    overflow-y: auto;
    resize: none;
}