.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}


.modal-dialog {
    display: inline-block;
    vertical-align: middle;
}

.modal-body{
    padding: 10%;
    margin: 0;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
#points-modal{
}

#modal-congrats-text{
    position: relative;
}

.modal-text{
    display: block;
    margin-top: 30px;
}
