.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}


.modal-dialog {
    display: inline-block;
}

.modal-body{
    padding: 10%;

}
#points-modal{
}

#modal-congrats-text{
    position: relative;
}

.modal-text{
    display: block;
    margin-top: 30px;
}
